h1 {
    font-size: 3rem;
}

#drum-pads {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
}

#display {
    font-size: 2.5rem;
}

.drum-pad {
    padding: 40px;
    margin: 10px;
    border-radius: 50%;
    border: 5px double black;
    cursor: pointer;
    font-size: 2rem;
}

.drum-pad:hover, .drum-keydown {
    color: #f4f8e8;
    background-color: #d2380a;
}

footer {
    margin-top: 40px;
}

a {
    color: black;
}

@media only screen and (max-width: 600px) {
    .drum-pad {
        padding: 15px;
        margin: 5px;
    }

    #display {
        font-size: 1.5rem;
    }
  }